<shared-header *ngIf="selectedArticle!=null" img={{selectedArticle.image}} page="articles">
  <div class="title">
    {{selectedArticle.title.toUpperCase()}}
  </div>
  <div class="subtitle">
    Autor: {{selectedArticle.author}}
  </div>
</shared-header>

<!-- Article view -->
<div class="container">
  <article *ngIf="selectedArticle!=null" class="content-container row">
    <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/artykuły">Artykuły</a></li>
        <li class="breadcrumb-item active">{{selectedArticle.title}}</li>
      </ol>
      <p *ngFor="let paragraph of selectedArticle.paragraphs; let first = first"
         class="article"
         [ngClass]= "{'first-paragraph': first}" [innerHTML]="textService.addHardSpaces(paragraph)">
      </p>
    </div>
  </article>
</div>

