<shared-header img="IMG_5425.jpg" page="articles">
  <div class="title">
    ARTYKUŁY
  </div>
</shared-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 ">

      <p class="intro">Tutaj znajdziesz teksty stworzone przez członków naszego klubu. Część z&nbsp;nich przybliża działalność Toastmasters, w&nbsp;innych dzielimy się naszą wiedzą na temat przemawiania. Zapraszamy do lektury.</p>

      <!-- Main articles page -->
    <div class="row">
      <div class="articles-list" *ngIf="selectedArticle==null">
        <div *ngFor="let article of articles">
          <div class="col-sm-4">
            <a routerLink="{{'/artykuły/'+article.id}}">
              <img src="/assets/images/{{+article.image}}" class="img-responsive img-rounded article-image">
              <h2 class="mainArticleLink text-center">{{article.title}}</h2>
            </a>
            <p class="article-description">{{this.textService.shortenDescription(article.paragraphs[0], 100)}}</p>
            <a routerLink="{{'/artykuły/'+article.id}}"><h2 class="readMore">CZYTAJ DALEJ</h2></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
