<div #header class="intro-header"
     [ngStyle] = style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 class="intro-title">
                        <ng-content select=".title"></ng-content>
                    </h1>
                    <h3 class="intro-subtitle">
                        <ng-content select=".subtitle"></ng-content>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
